<!DOCTYPE html>
<html lang="en" ng-app="vigletApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viglet</title>
    <meta name="description" content="Creating ways to allow the Artificial Intelligence to be accessible to everyone.">
    <meta property="og:title" content="Artificial Intelligence accessible to everyone" />
    <meta property="og:image"
        content="https://viglet.com/store/file_source/Viglet/_static_files/img/viglet_logo_hd.jpg" />
    <meta property="og:site_name" content="Viglet" />
    <meta property="og:url" content="https://viglet.com" />
    <meta property="og:description" content="Creating ways to allow the AI to be accessible to everyone." />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@openviglet">
    <meta name="twitter:creator" content="@openviglet">
    <meta name="twitter:title" content="AI accessible to everyone">
    <meta name="twitter:description"
        content="Creating ways to allow the Artificial Intelligence to be accessible to everyone.">
    <meta name="twitter:image"
        content="https://viglet.com/store/file_source/Viglet/_static_files/img/viglet_logo_hd.jpg">
    <link rel="alternate" hreflang="pt-br" href="https://br.viglet.ai">
    <link href="https://viglet.com/ui/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {{{theme.css}}}
</head>

<body data-spy="scroll" data-target=".navbar-default" ng-controller="VigHomeCtrl">
    <div id="wrap" style="margin-bottom: 15px;">
        <div sh-region="VIGLET_HEADER_REGION"></div>
        <div class="container">
            <div>
                <div class="row row-centered" style="margin-top: 70px">
                    <div class="col-lg-9 col-md-9 col-sm-10 hidden-xs col-centered">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active"> <img
                                        src="https://shio.viglet.net/store/file_source/Viglet/_static_files/img/banner/pure_chemistry.jpg"
                                        alt="Pure Chemistry"> </div>
                                <div class="item"> <img
                                        src="https://shio.viglet.net/store/file_source/Viglet/_static_files/img/banner/aiforeveryone.jpg"
                                        alt="AI For Everyone">
                                    <div class="carousel-caption"> <a href="https://twitter.com/hashtag/AIForEveryone"
                                            target="_blank" class="btn btn-viglet btn-lg hidden-sm" role="button"
                                            aria-pressed="true" style="margin: 10px">Forward this!</a> </div>
                                </div>
                                <div class="item"> <img
                                        src="https://shio.viglet.net/store/file_source/Viglet/_static_files/img/banner/feelings.jpg"
                                        alt="Feelings">
                                    <div class="carousel-caption">
                                        <h3>An Artificial Intelligence Company with feelings.</h3> <a
                                            href="https://developers.viglet.com" target="_blank"
                                            class="btn btn-viglet hidden-sm" role="button" aria-pressed="true"
                                            style="margin: 10px">Explore Viglet's deepest feelings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  <a id="viglet" target="_blank" href="https://twitter.com/hashtag/AIForEveryone">
                            <div class='cover-welcome img-rounded'> </div>
                        </a> -->
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 col-centered banner-text">
                        <p>Creating ways to allow the Artificial Intelligence to be accessible to everyone.
                            <br> We look at the new challenges as a great opportunity to find solutions that are
                            scalable and persistent. </p>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 col-centered alert alert-success" role="alert"
                        style="text-align:center"> Viglet também está disponível em <a
                            href="https://br.viglet.com">Português do Brasil</a>. </div>
                </div>
                <a target="_blank" style="color: white" href="https://www.facebook.com/viglet">
                    <div id="redesocial" class="row">
                        <div class="col-lg-12"
                            style="background-color: #6d84b4; text-align: center; margin-top: 30px; padding-bottom: 50px; padding-top: 60px; border-top: 1px solid #e1e1e1;">
                            <img src="https://shio.viglet.net/store/file_source/Viglet/_static_files/img/facebook-icon.png"
                                alt="facebook" width="50" height="50" style="margin-bottom: 20px">
                            <h3 style="color: white">
                                Follow the news of Viglet.<br />Join our page on Facebook!
                            </h3>
                        </div>
                    </div>
                </a>
                <div id="turing" class="row row-centered" style="padding-top:80px">
                    <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 col-centered turing-text">
                        <h1>Viglet Turing </h1>
                        <p>Platform that uses natural language processing (NLP) and machine learning to provide more
                            intelligent data. Choose your favorite NLP as CoreNLP, OpenNLP and OpenText Content
                            Analytics, and index your content in Solr with higher added value. Train and manage models
                            for your machine learning like Google Tensorflow.</p>
                        <p><a class="github-button" href="https://github.com/openviglet/turing/wiki/Features"
                                target="_blank" data-size="large" aria-label="Viglet Turing Features">Features</a> <a
                                class="github-button"
                                href="https://github.com/openviglet/turing/wiki/Compatibility-Matrix" target="_blank"
                                data-size="large" aria-label="Viglet Turing Compatibility Matrix">Compatibility
                                Matrix</a></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 col-centered" style="text-align: right">
                        <div class="video-container">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/videoseries?list=PLucp-3sa10A69EzbNiMDZmmo-Ai6MVuc9"
                                frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row row-centered">
                    <div class="col-lg-9 col-md-9 col-sm-10 hidden-xs col-centered" style="margin-top: 80px">
                        <h2>Graphically speaking...</h2> <img class="img-rounded" width="100%"
                            src="https://shio.viglet.net/store/file_source/Viglet/_static_files/img/banner/turing_features.png" />
                    </div>
                </div>
                <div id="participate">
                    <div id="participe" class="row row-centered" style="margin-top: 80px">
                        <div class="col-lg-6 col-md-9 col-sm-10 col-xs-11 col-centered jumbotron"
                            style="text-align: center; min-height: 400px">
                            <h1>Participate and code</h1>
                            <p style="margin-bottom: 20px">Collaborate with <b> Viglet </b> development. This way, you
                                will be helping to create ways of Artificial Intelligence to be accessible to everyone.
                            </p> <a href="https://goo.gl/forms/Sp9Kp7Rynp8J4Jgg2" target="_blank"
                                class="btn btn-viglet btn-lg btn-block" role="button" aria-pressed="true">Yes, I want to
                                participate!</a>
                        </div>
                        <div class="col-lg-3 col-md-9 col-sm-10 col-xs-12 col-centered">
                            <div class="panel panel-default">
                                <div class="row panel-heading" style="margin:0px">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        style="width:calc(100% - 15px);padding:0px">Track the progress of Viglet
                                        development</div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width:15px;padding:0px"> <i
                                            class="fa fa-rss fa-viglet" aria-hidden="true"></i></div>
                                </div>
                                <div id="turingfeed" class="panel-body"
                                    style="text-align: left; overflow-y: auto; max-height: 335px"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div sh-region="VIGLET_FOOTER_REGION"></div>
    {{{theme.javascript}}}
</body>

</html>