<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    {{{theme.css}}}
</head>

<body>
    <div sh-region="VIGLET_HEADER_REGION"></div>
    <div sh-region="VIGLET_FOOTER_REGION"></div>
    {{{theme.javascript}}}
</body>
</html>