<!DOCTYPE html>
<html lang="en" ng-app="vigletApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viglet for Developers</title>
    <meta name="description" content="Explore Viglet's deepest feelings">
    <meta property="og:title" content="Explore Viglet's deepest feelings" />
    <meta property="og:image" content="https://developers.viglet.com/img/face_banner.png" />
    <meta property="og:site_name" content="Viglet for Developers" />
    <meta property="og:url" content="https://developers.viglet.com" />
    <meta property="og:description" content="An Artificial Intelligence Company with feelings. :-)" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@openviglet">
    <meta name="twitter:creator" content="@openviglet">
    <meta name="twitter:title" content="Explore Viglet's deepest feelings">
    <meta name="twitter:description" content="An Artificial Intelligence Company with feelings. :-)">
    <meta name="twitter:image" content="https://developers.viglet.com/img/face_banner.png">
    {{{theme.css}}}
    <link href="https://viglet.com/ui/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body data-spy="scroll" data-target=".navbar-default" ng-controller="VigHomeCtrl">
    <div id="wrap" style="margin-bottom: 15px;">
        <div sh-region="VIGLET_HEADER_REGION"></div>
        <div id="developers" class="container">
            <div class="row row-centered" style="padding-top:70px">
                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10 col-centered">
                    <p style="font-size:40px;text-align:center;line-height: 120%;"><b>Explore Viglet's deepest feelings
                            <img src="http://shio.viglet.net/store/file_source/Viglet/_static_files/img/emotion05.png" height="50px"
                                width="50px"> </b></p>
                    <p style="font-size:30px;text-align:center;line-height: 120%;">An Artificial Intelligence Company
                        with feelings.</p>
                </div>
            </div>
            <div class="row row-centered" style="padding-top:50px">
                <div class="col-lg-6 col-md-9 col-sm-10 col-xs-11 col-centered">
                    <div id="turing" class="row row-centered">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered turing-text jumbotron">
                            <h1 style="color:#FF874B"><img
                                    src="http://shio.viglet.net/store/file_source/Viglet/_static_files/img/emotion01.png" height="100px"
                                    width="100px"> Viglet Turing </h1>
                            <p style="color:black">Platform that uses natural language processing (NLP) and machine
                                learning to provide more intelligent data.</p> <a
                                href="https://github.com/openviglet/turing" target="_blank" class="btn btn-viglet"
                                role="button" aria-pressed="true" style="margin-bottom:5px">GitHub</a> <a href="turing"
                                target="_blank" class="btn btn-viglet" role="button" aria-pressed="true"
                                style="margin-bottom:5px">Rest API</a> <a href="https://hub.docker.com/r/viglet/turing/"
                                target="_blank" class="btn btn-viglet" role="button" aria-pressed="true"
                                style="margin-bottom:5px">Docker</a> <a href="https://github.com/openviglet/turing4wp"
                                target="_blank" class="btn btn-viglet" role="button" aria-pressed="true"
                                style="margin-bottom:5px">For WordPress</a> <a
                                href="https://github.com/openviglet/turing-wem" target="_blank" class="btn btn-viglet"
                                role="button" aria-pressed="true" style="margin-bottom:5px">For WEM</a> <a
                                href="https://github.com/openviglet/turing-php-sdk" target="_blank"
                                class="btn btn-viglet" role="button" aria-pressed="true" style="margin-bottom:5px">PHP
                                Library</a>
                        </div>
                    </div>
                    <div id="vecchio" class="row row-centered">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered turing-text jumbotron">
                            <h1 style="color:#FF874B"><img
                                    src="http://shio.viglet.net/store/file_source/Viglet/_static_files/img/emotion02.png" height="100px"
                                    width="100px"> Viglet Vecchio</h1>
                            <p style="color:black">Allows to create authentication and authorization layers to access
                                API.</p> <a href="https://github.com/openviglet/vecchio" target="_blank"
                                class="btn btn-viglet" role="button" aria-pressed="true"
                                style="margin-bottom:5px">GitHub</a> <a href="https://hub.docker.com/r/viglet/vecchio/"
                                target="_blank" class="btn btn-viglet" role="button" aria-pressed="true"
                                style="margin-bottom:5px">Docker</a> <a
                                href="https://github.com/openviglet/vecchio-jersey" target="_blank"
                                class="btn btn-viglet" role="button" aria-pressed="true" style="margin-bottom:5px">For
                                Jersey</a>
                        </div>
                    </div>
                    <div id="shio" class="row row-centered">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered turing-text jumbotron">
                            <h1 style="color:#FF874B"><img
                                    src="http://shio.viglet.net/store/file_source/Viglet/_static_files/img/emotion03.png" height="100px"
                                    width="100px"> Viglet Shio</h1>
                            <p style="color:black">An intuitive and simple Web Content Management.</p> <a
                                href="https://github.com/openviglet/shio" target="_blank" class="btn btn-viglet"
                                role="button" aria-pressed="true" style="margin-bottom:5px">GitHub</a> <a
                                href="https://github.com/openviglet/shio-in-context-editing" target="_blank"
                                class="btn btn-viglet" role="button" aria-pressed="true"
                                style="margin-bottom:5px">InContext Editing</a>
                        </div>
                    </div>
                    <div id="participate">
                        <div id="participe" class="row row-centered">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered jumbotron"
                                style="min-height: 400px">
                                <h1 style="color:#FF874B"><img
                                        src="http://shio.viglet.net/store/file_source/Viglet/_static_files/img/emotion04.png" height="100px"
                                        width="100px"> Join and code</h1>
                                <p style="margin-bottom: 20px;text-align: center;">Collaborate with <b> Viglet </b>
                                    development. This way, you will be helping to create ways of Artificial Intelligence
                                    to be accessible to everyone.</p> <a href="https://goo.gl/forms/Sp9Kp7Rynp8J4Jgg2"
                                    target="_blank" class="btn btn-viglet btn-lg btn-block" role="button"
                                    aria-pressed="true">Yes, I want to participate!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-9 col-sm-10 col-xs-12 col-centered" style="margin-top:3px">
                    <div class="panel panel-default">
                        <div class="row panel-heading" style="margin:0px">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="width:calc(100% - 15px);padding:0px">Track the progress of Viglet development
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width:15px;padding:0px">
                                <i class="fa fa-rss fa-viglet" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="turingfeed" class="panel-body"
                            style="text-align: left; overflow-y: auto; max-height: 1380px"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div sh-region="VIGLET_FOOTER_REGION"></div>
    {{{theme.javascript}}}
</body>

</html>